html, body
	position: relative
	width: 100%
	height: 100%

body
	margin: 0
	padding: 0
	box-sizing: border-box
	font-family: '-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif

input, button, select, textarea
	font-family: inherit
	font-size: inherit
	padding: 0.5rem
	margin: 0
	box-sizing: border-box
	border: 1px solid rgba(#000, 0.25)
	background-color: var(--page-bg)
	color: var(--font)
	border-radius: 0
	&:hover
		border-color: var(--font)
	@media (prefers-color-scheme: dark)
		border-color: rgba(#fff, 0.25)

button
	cursor: pointer

:root
	background-color: var(--page-bg)
	color: var(--font)
	--page-bg: #fff
	--font: #000
	--tile-bg: rgba(#000, 0.025)
	--overlay-bg: rgba(#fff, 0.9)
	--tool-tip-shadow:\
		drop-shadow(3px 3px 0 rgba(#000, 0.2)) \
		drop-shadow(0 0 1px rgba(#000, 0.2))
	--modal-shadow: 10px 10px 0 rgba(#000, 0.25)
	@media (prefers-color-scheme: dark)
		--page-bg: #000
		--font: #fff
		--tile-bg: rgba(#fff, 0.05)
		--overlay-bg: rgba(#000, 0.9)
		--tool-tip-shadow:\
			drop-shadow(3px 3px 0 rgba(#fff, 0.2)) \
			drop-shadow(0 0 1px rgba(#fff, 0.2))
		--modal-shadow: 10px 10px 0 rgba(#fff, 0.15)

#Title
	font-size: 3rem
	margin: 2rem 0 1rem 0
	font-weight: 400

#Explanation
	line-height: 1.5
	margin: 0 0 2rem 0
	opacity: 0.65

main
	margin: auto
	max-width: 500px
	padding-bottom: 25vh
	box-sizing: border-box

.config
	display: flex
	flex-flow: row wrap
	align-items: center
	gap: 0.5rem
	margin-bottom: 2rem
	.check-fields
		display: flex
		flex-flow: row wrap
		gap: 1rem
	.date-inputs
		display: grid
		grid-template-columns: 1fr 1fr
		gap: 1rem
		.date-input
			display: grid
			grid-template-columns: 1fr 1fr 1fr

.check-field
	display: flex
	flex-flow: row wrap
	align-items: center

.input-field
	display: inline-block
	.label
		display: block
		flex: 1 1 100%
		margin-bottom: 0.25rem
		font-size: 0.7rem
		font-weight: 600
	input
		width: 100%
		height: 100%
		margin: 0
		flex: 1 1 auto

.calendars-header
	z-index: 10
	position: sticky
	position: -webkit-sticky
	top: 0
	display: grid
	grid-template-columns: repeat(7, 1fr)
	margin: auto
	background-color: var(--page-bg)
	gap: 2px
	> span
		padding: 0.5rem
		font-size: 0.75rem
		text-align: center
		border-bottom: solid 1px #000

.calendar .days, .pattern
	display: grid
	justify-content: start
	grid-template-columns: repeat(7, 1fr)
	gap: 2px
	box-sizing: border-box
	margin: auto

.calendar
	display: grid
	grid-template-columns: 1fr
	margin: auto

.calendar
	.title
		display: flex
		flex-flow: row nowrap
		align-items: center
		margin: 1rem 0
		gap: 1rem
		> h1
			font-size: 1.5rem
			margin: 0
			font-weight: 400
		> span
			flex: 1 1 auto
			height: 1rem
			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E")
			background-size: 0.5rem
			@media (prefers-color-scheme: dark)
				background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fff' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E")

.calendar, .pattern
	.day
		position: relative
		display: flex
		flex-flow: row wrap
		justify-content: center
		align-content: center
		align-items: center
		aspect-ratio: 1/1
		cursor: default
		line-height: 1
		font-weight: 300
		box-sizing: border-box
		background-color: var(--tile-bg)
		color: #999
		> span
			flex: 1 1 100%
			text-align: center
		> .plan-index
			margin-top: 0.5rem
			font-size: 0.75em
			font-weight: 600
		&.pattern-day
			text-shadow: 1px 1px 0 rgba(#000, 0.25)
			color: #fff
		&.gap
			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E")
			background-size: 0.5rem
			color: var(--font)
			@media (prefers-color-scheme: dark)
				background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fff' fill-opacity='0.15' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E")
			> span
				text-shadow:\
					0 0 2px var(--page-bg), 0 0 2px var(--page-bg),
					0 0 2px var(--page-bg), 0 0 2px var(--page-bg)
		&.holiday
			background-color: var(--font)
			color: var(--page-bg)
			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fff' fill-opacity='0.3' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E")
			background-size: 0.5rem
			> span
				text-shadow: 0 0 2px var(--font), 0 0 2px var(--font), 0 0 2px var(--font), 0 0 2px var(--font)
			> .amount
				font-size: 1.5rem
				line-height: 0.5
				font-weight: 900
			@media (prefers-color-scheme: dark)
				background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E")
				font-weight: 700
		&.offset-fill
			background-color: transparent
		.tool-tip
			z-index: 1
			position: absolute
			left: auto
			bottom: calc(100% + 0.75rem)
			padding: 0.5rem
			background-color: #fff
			filter: var(--tool-tip-shadow)
			color: #000
			transition: all ease 0.2s
			pointer-events: none
			box-sizing: border-box
			font-size: 0.8rem
			font-weight: 400
			span
				display: block
				line-height: 1
				box-sizing: border-box
				white-space: nowrap
				padding: 0.5rem
				&:not(:last-child)
					border-bottom: solid 1px rgba(#000, 0.1)
			&:after
				z-index: -1
				content: ''
				position: absolute
				bottom: -0.25rem
				left: calc(50% - 0.25rem)
				height: 0.5rem
				width: 0.5rem
				transform: rotate(45deg)
				background-color: inherit
				box-sizing: border-box
		&:not(:hover) .tool-tip
			opacity: 0
			transform: translateY(0.5rem)

.pattern
	margin: 1rem auto
	.day
		font-size: 1.15rem
		font-weight: 300
		&.gap
			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E")
			color: var(--font)
			@media (prefers-color-scheme: dark)
				background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fff' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E")
		&.offset-fill
			background-color: var(--tile-bg)
			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E")
			background-size: 0.5rem
			@media (prefers-color-scheme: dark)
				background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fff' fill-opacity='0.08' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E")
			> span
				text-shadow:\
					0 0 2px var(--page-bg), 0 0 2px var(--page-bg),
					0 0 2px var(--page-bg), 0 0 2px var(--page-bg)
		.delete
			position: absolute
			top: 0
			left: 0
			display: flex
			justify-content: center
			align-items: center
			height: 100%
			width: 100%
			color: #FFF
			background-color: rgba(#000, 0.75)
			cursor: pointer
			.icon
				width: 50%
				height: 50%
		&:not(:hover) .delete
			opacity: 0
			pointer-events: none
	.add-day
		display: flex
		flex-flow: row wrap
		justify-content: center
		align-content: center
		align-items: center
		aspect-ratio: 1/1
		padding: 0
		background-color: var(--tile-bg)
		color: var(--font)
		font-size: 3rem
		cursor: pointer
		line-height: 1
		font-weight: 100
		box-sizing: border-box
		border: none
		&:hover
			background-color: var(--font)
			color: var(--page-bg)
		.icon
			width: 40%
			height: 40%
			transform: rotate(45deg)

.check-field
	cursor: pointer
	.checkbox
		position: relative
		display: flex
		height: 1rem
		width: 1rem
		margin: 0.5rem 0.5rem 0.5rem 0
		padding: 0.5rem
		justify-content: center
		align-content: center
		align-items: center
		border: solid 1px rgba(#000, 0.1)
		box-sizing: border-box
		@media (prefers-color-scheme: dark)
			border-color: rgba(#fff, 0.25)
	&:not(.active):hover .checkbox
		border-color: var(--font)
	&.active .checkbox
		border-color: #50F
	&.active .checkbox:after
		content: ''
		position: absolute
		height: 0.5rem
		width: 0.5rem
		background-color: #50F
